@import '../../styles/components/variables';

.container {
  width: 350px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 1px 20px 15px;
  margin-right: auto;
  margin-left: auto;

  box-shadow: $boxShadow;

  &:focus-within {
    box-shadow: $boxShadowFocus;
    transition: box-shadow $animation $cubic;
  }
}
